dist/
.hsenv/
docs
wiki
TAGS
tags
wip
old
.DS_Store
.*.swp
.*.swo
*.o
*.hi
*~
*#
.cabal-sandbox/
cabal.sandbox.config
codex.tags
autom4te.cache/
configure
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
build
